name: ASCII Art Generator

on:
  workflow_call:
    inputs:
      script_name:
        required: true
        type: string

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: |
          chmod +x ./scripts/${{ inputs.script_name }}
          ./scripts/${{ inputs.script_name }} > output.txt

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.script_name }}-art
          path: output.txt

