name: dynamic matrix demo

on:
  workflow_dispatch:

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Read Node Versions from file
        id: set-matrix
        run: |
          # Compact JSON to avoid parser errors
          MATRIX=$(jq -c . node-versions.json)
          echo "matrix=$MATRIX" >> $GITHUB_OUTPUT

  build:
    needs: generate-matrix
    runs-on: ${{ matrix.os }}
    strategy:
      matrix: ${{ fromJSON(needs.generate-matrix.outputs.matrix) }}
      fail-fast: false

    name: Build (${{ matrix.os }}, Node ${{ matrix.node }})

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          check-latest: true

      - name: Print Info
        run: |
          echo "Build ${{ matrix.os }}, Node version ${{ matrix.node }}"
          node -v
          npm -v

      - name: Run Test
        run: echo "test passed"
