name: Main Pipeline

on:
  workflow_dispatch:

jobs:
  call-generator:
    uses: sreeharinath1/githubaction/.github/workflows/art-generator.yaml@main
    with:
      script_name: "diamond.sh"

  process-result:
    needs: call-generator
    runs-on: ubuntu-latest
    steps:
      - name: Download Result
        uses: actions/download-artifact@v4
        with:
          name: diamond.sh-art

      - name: Show Art
        run: |
          echo "Generated ASCII art:"
          cat output.txt

