name: fanin need
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build
        run: echo "Building...."
  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - run: echo "Testing..."
  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - run: echo "delpoyed"
