name: Pull Request Workflow

on:
  pull_request:
    branches:
      - main   # runs when PR targets main

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run tests
        run: echo "Here you run your tests"
