name: Pull Request Events Master Demo

on:
  pull_request:
    branches:
      - main
    types:
      - assigned
      - unassigned
      - labeled
      - unlabeled
      - opened
      - edited
      - closed
      - reopened
      - synchronize
      - ready_for_review
      - locked
      - unlocked
      - review_requested
      - review_request_removed

jobs:
  demo:
    runs-on: ubuntu-latest
    steps:
      - name: Show event type
        run: echo "Triggered by ${{ github.event.action }}"
