name: Push Workflow

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'               # include all files in src/
      - '!src/experimental/**' # exclude experimental subfolder
      - '!**.md'               # exclude markdown files

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Show trigger
        run: echo "Push triggered by changes in allowed paths"
