name: Secret demo
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Access Repo Secrets
        run: echo "My secret name is ${{ secrets.MY_NAME}}"
